.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  display: grid;
  grid-template-columns: repeat(3, 413px);
  justify-content: center;
  gap: 40px 20px;
}

.cards__list {
  display: contents;
}

@media (max-width: 1319px) {
  .cards {
    grid-template-columns: repeat(2, 413px);
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 413px);
  }
}

@media (max-width: 630px) {
  .cards {
    grid-template-columns: 288px;
    padding: 20px 0 30px;
  }
}