.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
