.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
}