.header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header__logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5em;
  margin: 0;
  color: #000000;
}
