.header {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.header__logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5em;
  margin: 0;
  color: #000000;
}
