.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: -1;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.modal__container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px 32px 32px 32px;
  position: relative;
  max-width: 730px;
  max-height: 408px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  background: transparent url("../images/Property\ 1=Default.png") center/contain no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: .6;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  margin: 0 0 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin-bottom: 32px;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal__input:focus {
  outline: none;
  border-bottom-color: #212121;
}

.modal__submit-button {
  background-color: #212121;
  color: #FCF5E5;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-top: 0;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 630px) {
  .modal__container {
    max-width: 300px;
    width: calc(100% - 40px);
    padding: 24px;
  }

  .modal__close-button {
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .modal__submit-button {
    padding: 14px;
    font-size: 14px;
  }
}