.profile {
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  display: flex;
  gap: 20px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.profile__info {
  flex-grow: 1;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  font-weight: 500;
  max-width: 420px ;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 12px;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 80%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  background: transparent;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  cursor: pointer;
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-top: auto;
  background: #FCF5E5;
  color: #FCF5E5;
  border: none;
  border-radius: 8px;
  padding: 14px 20px;
  min-width: 157px;
  height: 52px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
  }
 .profile__info{
  align-items: center;
 }
  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__add-button {
    width: 100%;
  }
}